# Omerta Research - Ignore OS & Build Files
.DS_Store
*.log
/build/
/bin/
*.o
*.out

# Do not track 440Hz corrupted data
*.440

# Python cache & virtual envs
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
.env
.venv/
venv/

# Temp runtime files
*.json.tmp
*.py.tmp
